<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/base.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Records</title>
</head>
<body>
    <header></header>
    <main>
        <% DATA.forEach(element => { %>
            <div class="card">
                <p>Country : <%=element.country%></p>
                <p>Date : <%=element.date%></p>


                <form action="/details/<%=element.id%>" method="post">
                <input type="hidden" name="country" value="<%=element.country%>">
                <input type="hidden" name="totalconfirmed" value="<%=element.totalconfirmed%>">
                <input type="hidden" name="totaldeaths" value="<%=element.totaldeaths%>">
                <input type="hidden" name="totalrecovered" value="<%=element.totalrecovered%>">
                <input type="hidden" name="totalrecovered" value="<%=element.totalrecovered%>">
<button type="submit">View Details</button>
                </form>
            </div>
        <% }) %>
    </main>
</body>
</html>